


{% extends 'base.html' %}

{% block content %}
{% include 'card.html' %}
<section style="padding: 0;">
    <div class="">
          <div class="col-rt-12">
              <div class="Scriptcontent">

              
<!-- Student Profile -->
                    <div class="student-profile py-4">
                    <div class="container">
                        <div class="row">

                        <div class="col-lg-8">
                            <div class="card shadow-sm">
                            <div class="card-header bg-transparent border-0">
                                <h3 class="mb-0"><i class="far fa-clone pr-1"></i>Informations Génerales</h3>
                            </div>
                            <div class="card-body pt-0">
                                <table class="table table-bordered">
                                <tr>
                                    <th width="24%">Matricule</th>
                                    <td width="24%">Nom</td>
                                    <td width="24%">prenom</td>
                                    <td width="2%">sexe</td>
                                    <td width="2%">sexe</td>
                                    <td width="24%">date de naissance</td>
                                </tr>
                                
                                </table>
                                <input type="submit" name="accept" class="login login-submit" value="Modifier" id="login" >

                            </div>
                            </div>
                            <div style="height: 26px"></div>
                            
                        </div>
                        </div>
                    </div>
                    </div>
                    <!-- partial -->
                            
    		</div>
		</div>
    </div>
</section>
     


    <!-- Analytics -->




{% endblock %}