
{% include 'card.html' %}
{% extends 'base.html' %}

{% block content %}
<section class="container " id="maincontent" tabindex="-1">

   <div id="content" class="card" >
       <div class="login-card ">
           
           <img src="{{ url_for('static', filename='/images/images-min/logo.png') }}"/><br>
            <h1></h1>
         <form name="login_form" method="POST" action="submit">
             
           <input type="text" name="nom_humain" placeholder="Nom" id="nom_humain">
           {{from.nom.label}}
           <input type="text" name="prenom_h" placeholder="Prénom" id="prenom_h">
           <input type="text" name="class_H" placeholder="Classe" id="class_H">
           <input type="text" name="Age_h" placeholder="Date de naissance" id="Age_h">
           <input type="text" name="sexe_h" placeholder="Sexe" id="sexe_h">
           
             <div class="login-help">
               <ul class="list">
                   <li class="list__item">
                     <label class="label--checkbox">
                         <input type="checkbox" class="checkbox" onchange="document.getElementById('login').disabled = !this.checked;">
                         <span>c'eation de l'etudiant !</span>
                     </label>
                   </li>
               </ul>
             </div>
           
           <input type="submit" name="accept" class="login login-submit" value="Connexion" id="login" disabled>
         </form>
       </div>
   </div>
   

</section>

{% endblock %}




