

{% extends 'base.html' %}

{% block content %}


  

   <div  class="row col-lg" >
       <div class="login-card2 col-lg ">
           
           <img class="col-lg-3" src="{{ url_for('static', filename='/images/images-min/logo.png') }}"/><br>
            
         <form class="col-lg-8" name="login_form" method="POST" action="register">
            <div class="">
                <div class="card shadow-sm">
                  <div class="card-header bg-transparent border-0">
                    <h3 class="mb-0"><i class="far fa-clone pr-1"></i>Informations Génerales</h3>
                  </div>
                  <div class="card-body pt-0">
                    <table class="table ">
                      <tr>
                        <th width="30%">Date d'inscription</th>
                        <td width="2%">:</td>
                        <td>23-09-2021    </td>
                      </tr>
                      <tr >
                        <th style="position: rel;" width="30%">Nom</th>
                        <td width="2%">:</td>
                        <td>{{form.nom(placeholder="Nom")}}</td>
                      </tr>
                      <tr>
                        <th width="30%">Prénom</th>
                        <td width="2%">:</td>
                        <td>{{form.prenom(placeholder="Prenom")}}</td>
                      </tr>
                      <tr>
                        <th width="30%">Date de Naissance</th>
                        <td width="2%">:</td>
                        <td>{{form.date_nais}}</td>
                      </tr>
                      <tr>
                        <th width="30%">Classe</th>
                        <td width="2%">:</td>
                        <td>{{form.SalClass(placeholder="Classe")}}</td>
                      </tr>
                      <tr>
                        <th width="30%">Sexe</th>
                        <td width="2%">:</td>
                        <td>{{form.sexe(class="form-radio")}}</td>
                      </tr>
                    </table>
                    {{form.boton(class="login login-submit" )}}
        
                  </div>
                </div>
             

            
         </form>
       </div>
   </div>
   



{% endblock %}




